global
    daemon
    maxconn 256

defaults
    mode tcp
    timeout connect 5000ms
    timeout client 50000ms
    timeout server 50000ms

listen postgres-cluster
    bind *:5433
    mode tcp
    balance roundrobin
    option httpchk
    option tcplog

    server master postgres-master:5432 check port 5432
    server slave1 postgres-slave1:5432 check port 5432 backup
    server slave2 postgres-slave2:5432 check port 5432 backup
